.main {
    background: white;
}

.text-content {
    width: 50%;
    height: 20%;
    padding-left: 10%;
}

.university-text-content {
    width: 50%;
    height: 20%;
    padding-right: 10%;
}

.university-logo,
.discover-jobs-logo,
.recruiter-jobs-logo {
    width: 30%;
    height: 30%;
}

.jobs-discover,
.universities,
.recruiter-discover {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 7%;
}

.recruiter-discover:hover {
    cursor: pointer;
    .recruiter-text {
        text-decoration-line: underline;
    }
}

.text-content div h1,
.university-text-content div h1 {
    font-weight: 600;
    font-size: 3.5vw;
}

.text-content div p,
.university-text-content div p {
    font-weight: normal;
    font-size: 1.5vw;
}

.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background: rgb(253, 247, 247);
}

.test-1,
.test-2,
.test-3 {
    width: 30%;
    height: 30%;
    padding-left: 3%;
    padding-right: 3%;
}

.test-1 div h1,
.test-2 div h1,
.test-3 div h1 {
    font-weight: 500;
    padding-top: 7%;
}

.test-1 div h2,
.test-2 div h2,
.test-3 div h2 {
    font-weight: 700;
    font-size: 5vw;
}


@media screen and (min-width: 480px) and (max-width: 768px) {
    .university-logo {
        width: 25%;
        height: 25%;
    }

    .discover-jobs-logo {
        width: 20%;
        height: 20%;
    }

    .text-content div h1,
    .university-text-content div h1 {
        font-weight: 600;
        font-size: 5vw;
    }

    .text-content div p,
    .university-text-content div p {
        font-weight: normal;
        font-size: 2vw;
    }

    .text-content {
        width: 50%;
        height: 20%;
        padding-left: 10%;
    }

    .university-text-content {
        width: 50%;
        height: 20%;
        padding-right: 10%;
    }

    .test-1 div h2,
    .test-2 div h2,
    .test-3 div h2 {
        font-weight: 700;
        font-size: 3vw;
    }

    .test-1,
    .test-2,
    .test-3 {
        width: 25%;
        height: 25%;
        padding-left: 3%;
        padding-right: 3%;
    }
}


@media screen and (max-width: 480px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .jobs-discover,
    .universities,
    .recruiter-discover {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .text-content div h1,
    .university-text-content div h1 {
        text-align: center;
    }

    .text-content div p,
    .university-text-content div p {
        text-align: left;
    }

    .text-content,
    .university-text-content {
        width: 70%;
        height: 20%;
        padding: 0;
    }

    .discover-jobs-logo,
    .university-logo {
        width: 40%;
        height: 40%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .text-content div h1,
    .university-text-content div h1 {
        font-weight: 600;
        font-size: 6vw;
    }

    .text-content div p,
    .university-text-content div p {
        font-weight: normal;
        font-size: 3vw;
    }

    .discover-jobs-logo {
        order: 1;
    }

    .testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        background: rgb(253, 247, 247);
    }

    .test-1,
    .test-2,
    .test-3 {
        width: 70%;
        padding-left: 3%;
        padding-right: 3%;
        text-align: center;
        padding-top: 5%;
    }
}