.profile-container {
    display: flex;
    height: 100vh;
    width: 100%;
    background: radial-gradient(circle at center, #17eedf, #325757) no-repeat center center fixed;
    border-radius: 10px;

    .profile-left-container {
        border-radius: 5px;
        text-align: -webkit-center;
        width: 30%;
        background: white;
        margin: 1% 1% 1% 1%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        .profile-image {
            width: 120px;
            background: radial-gradient(circle at center, #17eedf, #325757) no-repeat center center fixed;
            height: 120px;
            border-radius: 50%;
            overflow: hidden;
            margin: 20px 0;

            .my-fallback-color {
                --slds-c-icon-color-background: radial-gradient(circle at center, #17eedf, #325757) no-repeat center center fixed;
            }

            .slds-avatar .slds-avatar_large .slds-avatar_circle {
                height: 100%;
                width: 100%;
            }
        }

        .name {
            color: #006072;
            text-align: center;
            font-weight: bold;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .title {
            text-align: center;
            color: cadetblue;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .about-me {
            margin: 10% 2% 10% 2%;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .about-me:hover {
                overflow: overlay;
                white-space: normal;
                width: auto;
                -webkit-line-clamp: 4;
                /*margin: 5% 2% 5% 2%;*/
        }

        .skill-container {
            padding-left: 7px;

            .skill-list {
                display: flex;
                flex-wrap: wrap;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 30vh;

                .skill-info {
                    text-wrap: nowrap;
                    background: aliceblue;
                    border-radius: 20px;
                    padding: 1%;
                    margin: 1%;
                    height: fit-content;
                }
            }
        }
    }

    .profile-right-container {

        border-radius: 5px;
        text-align: -webkit-center;
        width: 100%;
        margin: 1% 1% 1% 1%;

        .basic-detail {
            border-radius: 5px;
            width: 100%;
            margin-bottom: 1%;
            height: 35%;
            background: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

            .basic-heading-container {
                display: flex;
                justify-content: space-between;
            }

            .detail-container {
                padding: 1%;
                text-align: justify;
                font-weight: bold;
                height: 80%;
                display: flex;
                justify-content: space-around;

                .section {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    .detail-heading {
                        color: gray;
                        text-transform: uppercase;
                        font-size: smaller;
                    }
                }
            }
        }

        .edit-button {
            box-shadow: 2px 3px 15px 1px cadetblue;
            color: black;
            border-radius: 5px;
            cursor: pointer;
            border: aliceblue;
            background-color: white;
            margin-right: 6px;
        }

        .edit-button:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }

        .experience-detail {
            border-radius: 5px;
            width: 100%;
            margin-top: 1%;
            height: 63%;
            background: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

            .basic-heading-container {
                display: flex;
                justify-content: space-between;
            }

            .exp-detail-container {
                height: 80%;
                text-align: start;
                display: grid;
                grid-template-rows: 33% 33% 33%;
                grid-template-columns: auto;

                .exp-list {
                    max-width: 50%;
                    align-self: center;
                    background: aliceblue;
                    padding: 1.5%;
                    border-radius: 35px;

                    .exp-company-name {
                        color: #006072;
                        font-weight: bold;
                    }

                    .exp-year {
                        color: gray;
                    }
                }

                .exp-list:hover {
                    background: radial-gradient(circle at center, #17eedf, #325757) no-repeat center center fixed;;
                    cursor: pointer;
                    
                    .exp-company-name {
                        color: black;
                        font-weight: bold;
                    }
                    .exp-year {
                        color: #d3f9ff;
                    }
                }
            }
        }
    }

    .heading-text {
        text-align: start;
        font-weight: bold;
        padding: 1%;
        height: 15%;
    }

    .slds-modal__header {
        background: radial-gradient(circle at center, #17eedf , #325757) no-repeat center center fixed;
    }
    .slds-button_icon-current-color {
        color: white !important;
    }
}