.main {
    position: relative;
}

.image img{
    width: 100%;
    height: 70vh;
}

.searchbar {
    position: absolute;
    top: 60%;
    left: 75%; 
    transform: translate(-50%, -50%);
    width: 78%; 
    max-width: 600px; 
    border-radius: 5px;
}

.searchbar lightning-input {
    width: 100%;
}
.text{
    color: white;
    position: absolute;
    top: 30%;
    left: 71%;
}

.text h2{
    font-size: 20px;
}
.text h1{
    font-size: 43px;
}