.main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.candidate-details {
  width: 80%;
  padding: 2%;
  border-radius: 10px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
.personal-details {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.personal-details h1 {
  font-size: 1.5em;
  margin-bottom: 2%;
  color: #333;
}
.details {
  display: flex;
}
.icons p {
  margin-bottom: 1%;
}
.name-details p {
  margin-bottom: 1%;
  padding-left: 2%;
}
.details-round-tab {
  width: fit-content;
  height: fit-content;
  color: white;
  background-color: #005fb2;
  border-radius: 5px;
  padding: 1%;
}
.basic-info,
.about {
  width: 80%;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  margin-bottom: 2%;
}
.basic-info h1,
.about h1 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 1%;
}
.organisation {
  border-top: 2px solid #ccc;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.organisation h1,
.organisation p {
  font-size: 1.2em;
  color: #555;
}
.about p {
  color: #555;
  font-size: 1em;
}
.about h1 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}