.signup-container {
    width: 30vw;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}

.signup-inner-container {
    padding: 20px 50px 10px 50px;
    border-radius: 30px;
    box-shadow:  20px 20px 60px #4dbec0,
    -20px -20px 60px #68ffff;
}

.logo-container {
    height: 20%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 180px;
    max-height: 113px;
}

.detail-container {
    height: 75%;
    width:100%
}

.detail-container-sub {
    width:100%
}

.separator {
    width: 100%;
    border-top: 1px groove rgba(255, 255, 255, 0.2);
    margin: 4% 0;
}

.separator-bottom {
    width: 100%;
    border-top: 1px groove rgba(255, 255, 255, 0.2);
    margin: 4% 0;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    background: #2171733b;
}

.input-group input {
    width: 100%;
    padding: 3.5%;
    height: 5%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: #2171733b;
    color: white;
    transition: border-bottom 0.3s, box-shadow 0.3s;
}

input::-webkit-input-placeholder {
    color:    #ffffff;
    opacity: 0.8;
}

input:-moz-placeholder {
    color:    #ffffff;
    opacity: 0.8;
}

input::-moz-placeholder {
    color:    #ffffff;
    opacity: 0.8;
}

input:-ms-input-placeholder {
    color:    #ffffff;
    opacity: 0.8;
}

input::-ms-input-placeholder {
    color:    #ffffff;
    opacity: 0.8;
}

input::placeholder {
    color:    #ffffff;
    opacity: 0.8;
}

.input-group input:focus {
    box-shadow: inset 0 0 6px 0px rgba(255, 255, 255, 0.8);
}

.input-group input:focus-visible {
    outline: thick;
}

.buttons-container {
    width: 100%;
}

.signup {
    width: 30% !important;
    box-shadow: 2px 3px 15px 1px cadetblue !important;
    border: 2px solid white !important;
    color: black !important;
    padding: 7px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    border: aliceblue !important;
    background-color: white !important;
}

.signup:hover {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.copyright {
    padding-top: 70px;
    align-items: end;
    display: flex;
    justify-content: center;
    height: 5%;
    opacity: 0.8;
}