.main {
  background-color: white;
  width: 100%;
  min-height: 100vh;
  height: auto;
}

.job-description {
  padding: 2%;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


}

.job-description h1 {
  font-size: 24px;
  color: #252525;
  margin: 0;
}

.job-description p {
  font-size: 15px;
}

.applicant-list {
  margin: 2%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 2%;
  text-align: left;
}

th {
  color: #fff;
}

tbody tr:hover {
  background-color: #c6baff;
}

thead tr {
  border-bottom: 2px solid #4CAF50;
}

.no-applicants div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.no-applicants div h1 {
  font-size: 30px;
}

.no-applicants div img {
  width: 70%;
  height: auto;
  border: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-self: end;
}

.buttons lightning-button {
  padding-left: 1%;
}

:host {
    --slds-c-slider-track-color-background: orange;
    --slds-c-slider-thumb-color-foreground: black;
}

.range-hidden .slds-slider-label__range {
  display: none!important;
}

.filter-picklist{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 25%;


}