.job-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.job-filter-header {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.job-list-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.job-list-header {
    font-size: 1.2rem;
    font-weight: bold;
}

.job-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    height: 7rem;
    /* Responsive layout using flexbox */
    /*display: flex;*/
    flex-direction: column;
}
.job-header {
    display: flex;
    font-size: 1.1rem;
    color: #4978d1;
    gap: 1rem;
    margin-bottom: 0.5rem; /* Add spacing between header and details */
}

.job-company {
    font-size: 1rem;
    font-weight: 600;
    color: #131313;
}

.job-info {
    font-size: 0.9rem;
    color: #777;
}

.job-information {
    display: flex;
    gap: 1rem;
    font-size: 0.9rem;
    color: #999;
}

.job-details {
    margin-top: 1rem; /* Add spacing between header and details */
}

.job-logo {
    height: 100%;
    width: 100%;
}

.job-summary {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #737373;
    height: 80%;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    /* Adjust styles for smaller screens here */
    .job-card {
        flex-direction: row; /* Switch to horizontal layout on smaller screens */
    }
}