.main{
    width: 100%;
    background-color: white;
    height: 18vh;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-contents{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.logo{
    padding-left: 3%;
    padding-top: 2%;
    height: 15%;
    width: 15%;
}

.home-tab,
.Jobs-tab,
.my-jobs{
    padding-top: 2%;
    padding-left: 3%;
    font-size: 15px;
    cursor: pointer;
}
.login-signup{
    padding-right: 5%;
    padding-top: 2%;
    cursor: pointer;
}

.login-signup:hover,
.home-tab:hover,
.Jobs-tab:hover,
.my-jobs:hover{
    color: rgb(255, 0, 0);
}