.main {
    width: 100%;
    max-height: auto;
    height: auto;
    padding: 2%;
    background-color: #f5f5f5;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
}
.buttons{
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
}

.title {
    display: flex;
    flex: row;
    justify-content: space-between;
}

.buttons lightning-button {
    padding: 3%;
}


.job-description div h1 {
    font-size: 30px;
    padding: 1%;
}

.skills h1,
.job-description h2 {
    font-size: 20px;
    padding: 1%;
}

.skills p {
    font-size: 18px;
    text-wrap: nowrap;
    padding-left: 2%;
}

.job-description p {
    font-size: 15px;
    padding: 1%;
    width: 100%;
    height: auto;
    
}

.requirements {
    display: flex;
    flex-direction: column;
}

.requirements h1 {
    font-size: 20px;
    padding: 1%;
}

.requirements p {
    font-size: 18px;
    padding-left: 2%;
}
.picklist{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1% 0 1% 0;
    font-size: 15px;
}

select {
  width: 100%;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  margin-bottom: 2%;
  outline: none;
  transition: border-color 0.3s;
}

select:hover,
select:focus {
  border-color: #007bff;
}

option {
  color: #333;
}
.optionss{
    display: flex;
    flex-direction: column;
}