.main{
    width: 100%;
    height: 100%;
}
.main div h1{
    font-size: 25px;
    padding: 2%;
}
.industry-doughnutchart{
    width: 30%;
    height: auto;
    padding: 2%;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    margin: 2%;
}
.number-of-jobs-vs-applicants{
    width: 60%;
    height: auto;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid #e9e9e9;
    margin: 2%;
}
.barchart{
    width: 60%;
    height: auto;
    padding: 2%;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    margin: 2%;
}
.piechart{
    width: 30%;
    height: auto;
    padding: 2%;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
    margin: 2%;
}
.bottom-charts,
.top-charts{
    display: flex;
    flex-direction: row;
}