.main {
  background: white;
  width: 100%;
  height: 100%;
  padding: 2%;
}
.job-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.about-job,
.location {
  width: 50%;
  height: 100%;
  margin: 2%;
}
.about-job,
.location {
  font-size: 1.5vw;
  font-weight: 500;
}
.Add-jobs-text {
  display: flex;
  justify-content: space-between;
}
.Add-jobs-text h1{
  font-weight: 600;
  font-size: 2vw;
}
.requirements {
  max-width: 70%;
  margin: 2%;
}

.requirements h1 {
  color: #333;
  font-size: 1.5vw;
  font-weight: 500;
  margin-bottom: 10px;
}

.picklist {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 1%;
  color: #333;
}

select {
  width: 100%;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  margin-bottom: 2%;
  outline: none;
  transition: border-color 0.3s;
}

select:hover,
select:focus {
  border-color: #007bff;
}

option {
  color: #333;
}
select::-ms-expand {
  display: none;
}
.buttons {
  display: flex;
  flex-direction: row;
  margin: 2%;
}
.post {
  padding-left: 2%;
}